<div class="footer-social-links">
  <a href="mailto:{{ site.author.email }}" title="Email"><i class="fa fa-envelope"></i></a>
  <a href="https://github.com/marksanghoonkim" title="GitHub"><i class="fa fa-github-alt"></i></a>
  <a href="https://www.linkedin.com/in/marksanghoonkim" title="LinkedIn"><i class="fa fa-linkedin"></i></a>
  <a href="https://twitter.com/marksanghoonkim" title="Twitter"><i class="fa fa-twitter"></i></a>
  <a rel="author" href="https://plus.google.com/+MarkSanghoonKim/about?rel=author" title="Google Plus"><i class="fa fa-google-plus"></i></a>
</div>
