<div class="footer-social-links">
  <a href="https://github.com/marksanghoonkim" title="GitHub" target="_blank"><i class="fa fa-github-alt"></i></a>
  <a href="https://www.linkedin.com/in/markskim" title="LinkedIn" target="_blank"><i class="fa fa-linkedin"></i></a>
  <a href="https://twitter.com/marksanghoonkim" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
  <a rel="author" href="https://plus.google.com/+MarkSanghoonKim/about?rel=author" title="Google Plus" target="_blank"><i class="fa fa-google-plus"></i></a>
</div>
